[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "langcomp"]
	path = langcomp
	url = https://github.com/namazso/langcomp.git
[submodule "phnt"]
	path = phnt
	url = https://github.com/processhacker/phnt.git
[submodule "tiny-json"]
	path = tiny-json
	url = https://github.com/rafagafe/tiny-json.git
