[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "Algorithms/deps/mbedtls"]
	path = Algorithms/deps/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "langcomp"]
	path = langcomp
	url = https://github.com/namazso/langcomp.git
[submodule "phnt"]
	path = phnt
	url = https://github.com/processhacker/phnt.git
[submodule "tiny-json"]
	path = tiny-json
	url = https://github.com/rafagafe/tiny-json.git
[submodule "Algorithms/deps/xxHash"]
	path = Algorithms/deps/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "Algorithms/deps/BLAKE3"]
	path = Algorithms/deps/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "Algorithms/deps/XKCP"]
	path = Algorithms/deps/XKCP
	url = https://github.com/XKCP/XKCP.git
[submodule "mctrl"]
	path = mctrl
	url = https://github.com/mity/mctrl.git
[submodule "Algorithms/deps/streebog"]
	path = Algorithms/deps/streebog
	url = https://github.com/adegtyarev/streebog.git
[submodule "Algorithms/deps/crc32"]
	path = Algorithms/deps/crc32
	url = https://github.com/stbrumme/crc32.git
