#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#include "winres.h"
#include "verrsrc.h"

#undef APSTUDIO_READONLY_SYMBOLS

#define MUL0(a) (0)
#define MUL1(a) (a)
#define MUL2(a) (a+a)
#define MUL3(a) (a+a+a)
#define MUL4(a) (a+a+a+a)
#define MUL5(a) (a+a+a+a+a)
#define MUL6(a) (a+a+a+a+a+a)
#define MUL7(a) (a+a+a+a+a+a+a)
#define MUL8(a) (a+a+a+a+a+a+a+a)
#define MUL9(a) (a+a+a+a+a+a+a+a+a)
#define MUL10(a) (a+a+a+a+a+a+a+a+a+a)
#define MUL11(a) (a+a+a+a+a+a+a+a+a+a+a)
#define MUL12(a) (a+a+a+a+a+a+a+a+a+a+a+a)
#define MUL13(a) (a+a+a+a+a+a+a+a+a+a+a+a+a)
#define MUL14(a) (a+a+a+a+a+a+a+a+a+a+a+a+a+a)
#define MUL15(a) (a+a+a+a+a+a+a+a+a+a+a+a+a+a+a)
#define MUL16(a) (a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a)
#define MUL17(a) (a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a)
#define MUL18(a) (a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a)
#define MUL19(a) (a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a)
#define MUL20(a) (a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a+a)
#define MUL(a, c) MUL ## c(a)

#define MARGIN 6

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

IDD_OPENHASHTAB_PROPPAGE DIALOGEX 0, 0, 226, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "OpenHashTab"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
  CONTROL         "",IDC_HASH_LIST,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,6,6,214,142

  // First row: is sumfile, processing/done, VT button, Settings button
  LTEXT           "",IDC_STATIC_SUMFILE,6,152,98,12
  RTEXT           "IDS_PROCESSING",IDC_STATIC_PROCESSING,104,152,62,12
  PUSHBUTTON      "E",IDC_BUTTON_SUMMARY,168,150,16,16,BS_ICON | WS_DISABLED
  PUSHBUTTON      "V",IDC_BUTTON_VT,186,150,16,16,BS_ICON | WS_DISABLED
  PUSHBUTTON      "S",IDC_BUTTON_SETTINGS,204,150,16,16,BS_ICON | WS_DISABLED

  // Check against label, vertically aligned to the text, not the buttons
  LTEXT           "IDS_CHECK_AGAINST",IDC_STATIC_CHECK_AGAINST,6,164,162,12
  // Check against TextEdit
  EDITTEXT        IDC_EDIT_HASH,6,176,214,14,ES_AUTOHSCROLL | WS_DISABLED
  // Check against result
  LTEXT           "",IDC_STATIC_CHECK_RESULT,6,190,214,12

  // Export stuff
  LTEXT           "IDS_EXPORT_TO",IDC_STATIC_EXPORT_TO,6,206,214,10
  COMBOBOX        IDC_COMBO_EXPORT,6,218,88,14,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
  PUSHBUTTON      "IDS_CLIPBOARD",IDC_BUTTON_CLIPBOARD,98,218,64,14,WS_DISABLED
  PUSHBUTTON      "IDS_EXPORT_BTN",IDC_BUTTON_EXPORT,166,218,54,14,WS_DISABLED

  // Progress bar and Cancel button
  CONTROL         "",IDC_PROGRESS,"msctls_progress32",WS_BORDER,6,234,156,10
  PUSHBUTTON      "IDS_CANCEL",IDC_BUTTON_CANCEL,166,232,54,14
END

IDD_OPENHASHTAB_PROPPAGE AFX_DIALOG_LAYOUT
BEGIN
  0,
  0,    0,    100,  100,

  0,    100,  0,    0,
  100,  100,  0,    0,
  100,  100,  0,    0,
  100,  100,  0,    0
  100,  100,  0,    0,

  0,    100,  0,    0,
  0,    100,  100,  0,
  0,    100,  100,  0,

  0,    100,  0,    0,
  0,    100,  100,  0,
  100,  100,  0,    0,
  100,  100,  0,    0,

  0,    100,  100,  0,
  100,  100,  0,    0,
END

IDD_SETTINGS DIALOGEX 0, 0, 720, 320
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "*"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
  CONTROL         "",IDC_ALGORITHM_LIST,"SysListView32",LVS_LIST | LVS_ALIGNLEFT | LVS_NOSCROLL | LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP,6,6,168,258

#define OPTIONS_X 180
#define OPTIONS_SUB_X 192
#define OPTIONS_Y MARGIN
#define OPTIONS_W 534
#define OPTIONS_SUB_W 522
#define OPTIONS_H 12

  AUTOCHECKBOX    "",IDC_CHECK_DISPLAY_UPPERCASE,               OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 0),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_DISPLAY_MONOSPACE,               OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 1),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_LOOK_FOR_SUMFILES,               OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 2),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_SUMFILE_UPPERCASE,               OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 3),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_SUMFILE_UNIX_ENDINGS,            OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 4),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_SUMFILE_USE_DOUBLE_SPACE,        OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 5),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_SUMFILE_FORWARD_SLASHES,         OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 6),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_SUMFILE_DOT_HASH_COMPATIBLE,     OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 7),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_SUMFILE_BANNER,                  OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 8),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_SUMFILE_BANNER_DATE,             OPTIONS_SUB_X,  OPTIONS_Y + MUL(OPTIONS_H, 9),  OPTIONS_SUB_W,  OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_CLIPBOARD_AUTOENABLE,            OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 10),  OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_CLIPBOARD_AUTOENABLE_IF_NONE,    OPTIONS_SUB_X,  OPTIONS_Y + MUL(OPTIONS_H, 11), OPTIONS_SUB_W,  OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_CLIPBOARD_AUTOENABLE_EXCLUSIVE,  OPTIONS_SUB_X,  OPTIONS_Y + MUL(OPTIONS_H, 12), OPTIONS_SUB_W,  OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_CHECKAGAINST_AUTOFORMAT,         OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 13), OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_CHECKAGAINST_STRICT,             OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 14), OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_HASH_SUMFILE_TOO,                OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 15), OPTIONS_W,      OPTIONS_H
  AUTOCHECKBOX    "",IDC_CHECK_SUMFILE_ALGORITHM_ONLY,          OPTIONS_X,      OPTIONS_Y + MUL(OPTIONS_H, 16), OPTIONS_W,      OPTIONS_H

  ICON            IDI_ICON1,IDC_ICON_1,MARGIN,270,21,20
  LTEXT           "OpenHashTab",IDC_PROJECT_NAME,30,270,144,12
  CONTROL         "<a href=""https://github.com/namazso/OpenHashTab"">github.com/namazso/OpenHashTab</a>",IDC_PROJECT_LINK,"SysLink",WS_TABSTOP,30,281,144,12
  PUSHBUTTON      "",IDC_BUTTON_CHECK_FOR_UPDATES,MARGIN,294,168,14

#define COLORS_X 180
#define COLORS_X_INNER (COLORS_X + MARGIN)
#define COLORS_Y (OPTIONS_Y + MUL(OPTIONS_H, 17))
#define COLORS_W 108
#define COLORS_W_GROUP 102
#define COLORS_W_INNER (COLORS_W_GROUP - MARGIN - MARGIN)

#define MAKEGROUP(name, offset) \
  GROUPBOX        "",                   IDC_ ## name ## _GROUP,    MUL(COLORS_W, offset) + COLORS_X,        COLORS_Y,       COLORS_W_GROUP,  102 \
  AUTOCHECKBOX    "IDS_FOREGROUND",     IDC_ ## name ## _FG_CHECK, MUL(COLORS_W, offset) + COLORS_X_INNER,  COLORS_Y + 12,  COLORS_W_INNER,   12 \
  PUSHBUTTON      "fg color",           IDC_ ## name ## _FG_BTN,   MUL(COLORS_W, offset) + COLORS_X_INNER,  COLORS_Y + 24,  COLORS_W_INNER,   18 \
  AUTOCHECKBOX    "IDS_BACKGROUND",     IDC_ ## name ## _BG_CHECK, MUL(COLORS_W, offset) + COLORS_X_INNER,  COLORS_Y + 48,  COLORS_W_INNER,   12 \
  PUSHBUTTON      "bg color",           IDC_ ## name ## _BG_BTN,   MUL(COLORS_W, offset) + COLORS_X_INNER,  COLORS_Y + 60,  COLORS_W_INNER,   18 \
  CTEXT           "0123456789ABCDEF",   IDC_ ## name ## _SAMPLE,   MUL(COLORS_W, offset) + COLORS_X_INNER,  COLORS_Y + 84,  COLORS_W_INNER,   12

  MAKEGROUP(UNKNOWN, 0)
  MAKEGROUP(MATCH, 1)
  MAKEGROUP(MISMATCH, 2)
  MAKEGROUP(INSECURE, 3)
  MAKEGROUP(ERROR, 4)

#undef MAKEGROUP

END

IDD_SETTINGS AFX_DIALOG_LAYOUT
BEGIN
  0
END

// Icon with the lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "icon.ico"
IDI_ICON_VT             ICON                    "vt.ico"
IDI_ICON_COG            ICON                    "cog.ico"
IDI_ICON_SUM            ICON                    "sum.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION CI_VERSION_MAJOR,CI_VERSION_MINOR,CI_VERSION_PATCH,0
  PRODUCTVERSION CI_VERSION_MAJOR,CI_VERSION_MINOR,CI_VERSION_PATCH,0
  FILEFLAGSMASK 0x3fL
#ifndef NDEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x40004L
  FILETYPE 0x2L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "namazso"
      VALUE "FileDescription", "OpenHashTab Shell Extension"
      VALUE "InternalName", "OpenHashTab.dll"
      VALUE "LegalCopyright", "(c) namazso. Licensed under GNU GPLv3 or (at your option) later."
      VALUE "OriginalFilename", "OpenHashTab.dll"
      VALUE "ProductName", "OpenHashTab"
    END
  END
END


#include <Localization.h>

LANGUAGES_IMPL
